*{
    margin: 0;
    padding: 0;
}
.blogDetail{
    height: 500px;
    margin: 50px 50px;
}
.blogCard{
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px;
}
.blogDetail-h1{
    margin: 10px 50px;
}
.blogDetail-h5{
    margin: 10px 50px;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 30px;
}
.blogdetail-image{
    margin: 50px 100px;
    height: 400px;
    width: 80%;
}
.blogDetail-button{
    font-size: 22px;
    margin: 20px 50px;
    border-radius: 10px;
    padding: 5px 5px;
    border: 2px solid black;

}
.commentdetail{
    margin-right: 20px;
    font-size: 30px;
}
.blogdetail-like{
    margin-left: 10px;
    font-size: 30px;
}
.Commentdetail-like-icon{
    margin: 40px 70px;
    margin-top: 10px;
}
.footerDetails-of-blog{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
    padding-top: 50px;
}
.comment-section{
    margin-top: 300px;
    display: flex;
    gap: 50px;
}
.comment-image{
    height: 100px;
    width: 100px;
}
.commenticon{
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 50px;
    color: aquamarine;
}
.commentCard{
    border: 2px solid black;
    background-color: #222f3d;
    color: white;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin: 20px 40px;
    padding: 20px 30px;
}